@model AplicacioFarmacies.Models.Comentari

@{
    /**/

    ViewBag.Title = "CreateByIdFarmacia";
}

<h1>Farmacia: @Html.Raw(ViewBag.Farmacia.NomFarmacia)</h1>

@using (Html.BeginForm())
{

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NomAutorComentari, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomAutorComentari, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomAutorComentari, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContingutComentari, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ContingutComentari, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ContingutComentari, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(x => x.IdFarmacia, new { @Value = ViewBag.Farmacia.IdFarmacia })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear comentari" class="btn btn-default" />
        </div>
    </div>
</div>
}
