@model AplicacioFarmacies.Models.Farmacia

@{
    ViewBag.Title = "Detalls";
}

<h2>Detalls</h2>

<div>
    <h4>Farmacia</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.Poblacio.NomPoblacio)</b>
                <br />
                <span>@Html.DisplayFor(model => model.Poblacio.NomPoblacio)</span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.CodiFarmacia)</b>
                <br />
                <span>@Html.DisplayFor(model => model.CodiFarmacia)</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.NomFarmacia)</b>
                <br />
                <span>@Html.DisplayFor(model => model.NomFarmacia)</span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.TipusVia)</b>
                <br />
                <span>@Html.DisplayFor(model => model.TipusVia)</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.Carrer)</b>
                <br />
                <span>@Html.DisplayFor(model => model.Carrer)</span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.NumeroVia)</b>
                <br />
                <span>@Html.DisplayFor(model => model.NumeroVia)</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.NumeroTelefon)</b>
                <br />
                <span>@Html.DisplayFor(model => model.NumeroTelefon)</span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.AreaBasicaSalut)</b>
                <br />
                <span>@Html.DisplayFor(model => model.AreaBasicaSalut)</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-farmacia">
                <b>@Html.DisplayNameFor(model => model.Comentaris)</b>
                <br />
            </div>
        </div>
        <div class="col-md-12">
            <div>
                @Html.ActionLink("Afegir comentari", "Create", "Comentaris", null, null)
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Tornar enrere", "Index")
</p>
